body {
    background: url("../pictures/fond.png") scroll no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    justify-content: space-between;
}

header {
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    flex-grow: 0;
}

map {
    height: 200px;
    width: 40%;
}

main {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

main legend {
    color: red;
    font-weight: bold;
}

main p {
    color: red;
    font-weight: bold;
}

.chatBox {
    float: right;
    position: relative;
    width: 40%;
    height: 225px;
    margin: 5px;
    opacity: 0.6;
    background-color: black;
    border: solid 1px;
    border-radius: 10px;
    font-weight: bold;
}
  
.chatDiscussion {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    overflow: auto;
}
  
.chatRobot {
    color: red;
    float: left;
    max-width: 300px;
    text-align: left;
    margin-left: 0px;
}
  
.chatFriend {
    float: right;
    max-width: 300px;
    text-align: right;
    margin-right: 5px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    flex-grow: 0;
    align-self: stretch;
    margin: 0;
}

footer h4 a:hover {
    font-weight: bold;
    color: red;
}
