<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <title>Bienvenue sur mon site GrandPy Bot</title>
    </head>

    <body>
		<header>
  			header
			<br>
        	<h1>Besoin d'une adresse ? GrandPy Bot est là pour vous !</h1>
        	<br>
        	<hr/>
			<h3>On dit même qu'il a toujours une petite histoire à raconter ...</h3>
			<img src="../static/pictures/fond.png" alt="Photo de deux grand-père" />
		</header>

		<main>
  			main
		</main>

		<footer>
			<h4>Jérémy Guyot</h4>
			<a href="https://github.com/jerem33620/Projet_7_OC.git">Voir le projet sur GitHub</a><br><br>
			<a href="https://www.linkedin.com/in/jeremy-guyot-366123151/">Voir le profil sur Linkedin</a><br><br>
		</footer>
    </body>
</html>