<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
        <title>GrandPy Bot</title>
    </head>

    <body>
		<header>
			<img src="{{ url_for('static', filename='pictures/icone.png') }}" alt="Logo de grand-père" />
			<br>
        	<h1>Besoin d'une adresse ? GrandPy Bot est là pour vous !</h1>
        	<hr/>
			<h3>On dit même qu'il a toujours une petite histoire à raconter ...</h3>
		</header>

		<main>
			<div class="chatBox">
				<div class="chatDiscussion">
					<div class="chatRobot">
						<p>Bonjour et bienvenue! Quelle endroit recherches-tu?</p>
					</div>
				</div>
				<div class="map">
				</div>
				<form method="POST" action="">
					<input id="data" type="text" name="questionText" autofocus
					placeholder="Salut GrandPy! Est-ce que tu connais l'adresse du musée du louvre à paris ?" />
					<input type="submit" value="Envoyer" /> 
				</form>
			</div>
		</main>

		<footer>
			<h5>Jérémy Guyot</h5>
			<h4><a href="https://github.com/jerem33620/Projet_7_OC.git">Voir le projet sur GitHub</a> |
			<a href="https://www.linkedin.com/in/jeremy-guyot-366123151/">Voir le profil sur Linkedin</a></h4>
		</footer>

		<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
		<script src="{{ url_for('static', filename='js/base.js') }}"></script>
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY_1 }}&callback=initMap">
		</script>
    </body>
</html>